@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "yekan";
  src: url("/fonts/yekan/Yekan.eot?#") format("eot"),
    url("/fonts/yekan/Yekan.ttf") format("truetype"),
    url("/fonts/yekan/Yekan.woff") format("woff");
}

@layer base {
  html {
    font-family: theme("fontFamily.primary");
  }
}

/* swiper styles */
.swiper {
  width: 100%;
  max-width: 1400px;
  display: "flex";
  position: relative;
  padding: "20px";
  justify-content: "center";
  align-items: "center";
}

.swiper-wrapper {
  max-width: 1400px;
  display: "flex";
  justify-content: "center";
  align-items: "center";
  gap: 0;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
  color: #14532d !important;
  font-weight: 1000;
  background-color: #dcfce7 !important;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
}

.swiper-slide {
  max-width: 400px;
}

.swiper-pagination {
  bottom: -5px;
}

/* swal styles */
.swal-footer {
  text-align: center;
}

.swal-modal {
  background: #ffffff !important;
  border: 1px solid #711d1c;
}

.swal-title {
  color: #000000 !important;
}

.swal-button--confirm {
  background: #fff;
  color: #711d1c;
}

.swal-content__input:focus,
.swal-content__textarea:focus {
  outline: none;
  border-color: #711d1c !important;
}

.swal-button:not([disabled]):hover {
  box-shadow: none !important;
}

.swal-button--cancel:hover {
  background-color: #efefef !important;
}

.swal-button--confirm {
  box-shadow: none !important;
  background: #e9e5e5 !important;
}

.swal-content__input {
  color: black !important;
}

.swal-button:focus {
  box-shadow: none !important;
}
